/*------------------SignUp.css---------------------*/
body,
p {
	margin: 0;
	background-color: #fcfcfc;
	font-family: "微软雅黑", "microsoft yahei";
}

header {
	width: 100%;
	height: auto;
}
.pic-header {
	width: 100%;
	height: auto;
}
.icons {
	width: 25%;
	height: auto;
	
	position: absolute;
	top: 35px;
	left: 59%;

	-webkit-transition: -webkit-transform 0.4s ease-out; 
    -moz-transition: -moz-transform 0.4s ease-out; 
    transition: transform 0.4s ease-out; 
}
.icons:active {
	-webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    transform: rotate(360deg);
}

#btn {	
	margin-left: 30%;
}

/*.bg-blue1 {
	background-color: #e3f2fd;
}
.bg-blue2 {
	background-color: #bbdefb;
}
.form-field {
	width: 100%;
	outline: none;
}
.form-field label {
	float: left;
	margin-left: 30px;
}
.form-field input,
.form-field select,
.form-field textarea {
	float: right;
	margin-right: 30px;
	margin-top: 14px;
}
.form-field div{
	height: 50px;
	line-height: 50px;
}

.form-name input {
	width: 50%;
}

.form-sex {
	width: 50%;
	height: 50px;
	
	float: left;
}
.form-sex input {
	margin-top: 20px;
	margin-right: 40%;
}

.form-birth {
	width: 100%;
	
	clear: left;
}
.form-birth input {
	width: 50%;
}

.form-class select {
	width: 51%;
	font-size: 14px;
	height: 24px;
}

.form-room {
	width: 50%;
	float: left;
}
.form-room input {
	width: 30%;
}

.form-num {
	clear: left;
}

.form-swap {
	width: 50%;
	
	float: left;
}
.form-swap input {
	width: 10%;
	
	margin-top: 20px;
}

.form-text {
	height: 100px !important;
	
	clear: left;
}
.form-text textarea {
	height: 60px;
	width: 50%;
	
	font-size: 16px;
}

.inquiry-btn {
	margin-left: 20%;
	height: 40px;
	line-height: 40px;
	
	text-align: center;
	color: #00b0ff;
	width:60%;
	border: 1px solid #00b0ff;
	border-radius: 5px;
}*/